.pure-menu-horizontal .pure-menu-list .pure-menu-item.sub-menu {
    &.open {
        &::before {
            border-bottom: 8px solid #333;
        }

        .open-left {
            &::before {
                border-left: 10px solid #333;
            }
        }

        .open-right {
            &::before {
                border-right: 10px solid #333;
            }
        }
    }
}